@import "../../index.scss";
.Dashboard{
  width: 100%;
  background-repeat: repeat;
  margin-top: -$navbar-height;
  min-height: 1555px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .astronaut{
    width:330px;
    position: absolute;
    transition: 0.65s;
    top:-50px;
    left: 125px;
  }
  .logo{
    width:750px;
  }
}