@import "../../index.scss";

.Navbar {
    z-index: 5;
    position: fixed;
    top:0;
    height: $navbar-height;
   color:#fff;
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    .linksDiv, .linksDiv2{
        color:#000;
    }
    ul{
        width: inherit;
        display: flex;
        flex-direction: row;    
        justify-content: space-between;
        height: 100%;
        height: inherit;
        > div{
            list-style: none;
            display: flex;
            flex-direction: row;  
            &:last-of-type{
                margin-right: 150px;
            }
        }
        .lang{
            margin-inline: 5px;
            font-size: $font-paragraph-size;
            font-weight: bold;
            cursor: pointer;
            padding:18.5px;
            align-self: center;
            text-decoration: none;
            height: inherit;
            &:hover{
                color: red;
                transition: 0.2s ease-out;
            }
        }
        .quickStart{
            margin-left: 5px;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
            display: flex;
            align-items: center;
            color: #000;
            justify-content: center;
            min-height:72px;
            //padding-block: 28px;
            width:165px;
            align-self: center;
            text-decoration: none;
            background-color: $pallete-4;
            &:hover{
                
           
                transition: 0.2s ease-out;
            }
        }
        .links{
            margin-inline: 20px;
            font-size: $font-paragraph-size;
            font-weight: bold;
            cursor: pointer;
            font-family: 'Marcellus', serif;
            padding:12.5px;
            align-self: center;
            text-decoration: none;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            color: inherit;
            display: flex;
            flex-direction: row;
            transition: 0.6s;
            & > .arrow{
                display: none;
                margin-right: 10px;
            }
            &.signature{
                font-size: 34px;
                font-family: $font-white-space-signature;
                transition: 0.15s ease;
            }
            &:hover{
               letter-spacing: 3px;
               padding:0px;
               margin-inline: 20px;
               & > .arrow{
                display: flex;
            }
            }
            .awesomeIcon{
                font-size: 20px;
            }
        }
    }

}
