@import "../../index.scss";

.Navbar {
    //background-color: $pallete-4;
    z-index: 5;
    position: fixed;
    top:0;
    background-color: #000;
    height: 72px;
   color:#fff;
    display: flex;
    align-items: center;
    //border-radius: 8px;
    width: 100%;
    //margin: 15px;
    display: flex;
    ul{
        width: inherit;
        display: flex;
        flex-direction: row;    
        justify-content: space-between;
        height: 100%;
        height: inherit;
        > div{
            list-style: none;
            display: flex;
            flex-direction: row;  
            &:last-of-type{
            
            }
        }
        .lang{
            margin-inline: 5px;
            font-size: $font-paragraph-size;
            font-weight: bold;
            cursor: pointer;
            padding:18.5px;
            align-self: center;
            text-decoration: none;
            height: inherit;
            color: #fff;
            &:hover{
                background-color: #7c37aa71;
                transition: 0.2s ease-out;
            }
        }
        .quickStart{
            margin-left: 5px;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
            display: flex;
            align-items: center;
            color: #000;
            justify-content: center;
            min-height:72px;
            //padding-block: 28px;
            width:165px;
            align-self: center;
            text-decoration: none;
          
            background-color: $pallete-4;
            &:hover{
                
           
                transition: 0.2s ease-out;
            }
        }
        .links{
            margin-inline: 20px;
            font-size: $font-paragraph-size;
            font-weight: bold;
            cursor: pointer;
            padding:12.5px;
            align-self: center;
            text-decoration: none;
            color: #fff;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            &:hover{
                transition: 0.08s ease-in-out;
               border-left: 1px solid rgb(255, 255, 252);
               border-right: 1px solid rgb(255, 255, 252);
            }
            .awesomeIcon{
                font-size: 20px;
            }
        }
    }

}
